@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    place-items: center !important;
    justify-content: center !important;
    min-height: 100vh !important;
    background: linear-gradient(to left top, #102497, #7e3ffd) !important;
}

.carousel-item img {
    filter: brightness(50%);
}

nav.navbar {
    background-color: #f1f1f1 !important;
    padding: 0px !important;
}

.iniciar-sesion-nav {
    border-left: 3px groove rgb(107, 107, 116);
    margin: 10px 10px 10px 10px;
    padding: 0 10px 0 10px;

}

.mi-cuenta-nav {
    border-left: 3px groove rgb(107, 107, 116);
    margin: 10px 10px 10px 10px;
    padding: 0 10px 0 10px;

}

@media (max-width:990px) {
    .iniciar-sesion-nav {
        border-left: none !important;
        padding: 0 10px 0 0px;
        margin: 20px 10px 10px 2px;
    }
    .mi-cuenta-nav {
        border-left: none !important;
        padding: 0 10px 0 0px;
        margin: 20px 10px 10px 2px;
    }
}

/*canvas*/
.offcanvas-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.card-body h5 {
    color: #5A36DB !important;
}

.offcanvas-header {
    padding: 10px 20px 10px 20px !important;
}

.form-user h3 {
    color: #5A36DB !important;
    margin-bottom: 0px !important;
}

.card-body span {
    color: #5A36DB !important;
}

.items-menu a {
    color: #181818 !important;
    text-decoration: none !important;
}

.items-menu a:hover {
    color: #7e3ffd !important;
}

.items-menu {
    margin: 10px 0px 10px 15px;
}
/*FIN canvas*/

/*carrousel Imagenes*/
.carousel {
    max-width: 1500px !important;
    margin: 40px 0% 40px 0% !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    padding: 0 5% 0 5% !important;
}

@media (max-width: 1400px) {
    .carousel {
        padding: 0 0% 0 0% !important;
        margin: 30px 0% 30px 0% !important;
    }
}

@media (max-width: 900px) {
    .carousel {
        padding: 0 0% 0 0% !important;
        margin: 10px 0% 20px 0% !important;
    }
}

@media (max-width: 600px) {
    .carousel {
        padding: 0 0% 0 0% !important;
        margin: 10px 0% 20px 0% !important;
    }
}

.flexbox-margin-auto {
    display: flex;
    width: 100%;
}

.flexbox-margin-auto_content {
    margin: auto;
}

.carousel-inner {
    border-radius: 4px !important;
}

.card-text {
    font-size: small;
}
/*FIN carrousel Imagenes*/

.centrador {
    display: flex !important;
    padding: 0 35 0 35px !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 40px;
}

/*carrousel Tarjetas*/
.contenedor-encabezado-carousel{
    display:flex !important;
    width: 100%;
    justify-content: center !important;
}
.encabezado-carousel{
    display:flex !important;
    max-width: 1300px;
    width: 100%;

}

.contenedor-carouselt {
    display:flex !important;
    width: 100%;
    justify-content: center !important;
    overflow: hidden;
    margin-bottom: 40px;
}

.wrapperfv {
    display: flex;
    max-width: 1400px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.wrapperfv i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    opacity: 70%;
}

.wrapperfv i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapperfv i:first-child {
    left: 20px;
}

.wrapperfv i:last-child {
    right: 20px;
}

.wrapperfv .carouselfv {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 12px);
    overflow-x: auto;
    padding: 0 !important;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 4px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    max-width: 1300px;
}

.carouselfv::-webkit-scrollbar {
    display: none;
}

.carouselfv.no-transition {
    scroll-behavior: auto;
}

.carouselfv.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carouselfv.dragging .card {
    cursor: grab;
    user-select: none;
}

.carouselfv :where(.card, .img) {
    display: flex;
    align-items: center;
}

.carouselfv .cardfv {
    scroll-snap-align: start;
    height: 280px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 10px !important;
    padding-top: 0%;
    flex-direction: column;
    border-radius: 4px;
}

.cardfv .img img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    object-fit: cover;
}

.encabezado-carousel h4 {
    font-weight: 350;
    color: #f8f8f8 !important;
    font-size: 1.7rem !important;
    margin-bottom: 15px !important;
}

.carouselfv .cardfv h5 {
    font-weight: 500;
    font-size: 1.05rem;
    margin: 5px 15px 5px 15px !important;
    color: #2e2e2e;
}

.carouselfv .cardfv h6,
footer h6 {
    font-weight: 300;
    font-size: 1.00rem;
    margin: 15px 15px 5px 15px !important;
    color: #2e2e2e;
}

.carouselfv .cardfv a {
    vertical-align: bottom !important;
    font-size: .80rem;
    margin: 15px 15px 5px 15px !important;

}

.carouselfv .cardfv span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media (max-width: 1400px) {
    .wrapperfv{
        width: 95%;
    }
    .wrapperfv i:first-child {
        left: -30px;
    }
    
    .wrapperfv i:last-child {
        right: -30px;
    }
}

@media (max-width: 1300px) {
    .wrapperfv{
        width: 95%;
    }
    .wrapperfv i:first-child {
        left: -15px;
    }
    
    .wrapperfv i:last-child {
        right: -15px;
    }
    .wrapperfv .carouselfv {
        grid-auto-columns: calc((100% / 4) - 8px);
        margin: 0px 10px 10px 10px;
    }
    .encabezado-carousel h4 {
        font-weight: 320;
        margin-left: 10px;
        font-size: 1.6rem !important;
        margin-bottom: 5px;
    }
}

@media (max-width: 1050px) {
    .wrapperfv .carouselfv {
        grid-auto-columns: calc((100% / 3) - 8px);
    }
}

@media (max-width: 900px) {
    .encabezado-carousel h4{
        font-weight: 270;
        margin-left: 10px;
        font-size: 1.5rem !important;
    }
}

@media (max-width: 800px) {
    .wrapperfv .carouselfv {
        grid-auto-columns: 50%;
        margin: 0px 10px 10px 10px;
        gap: 6px;
    }
}


@media (max-width: 600px) {
    .encabezado-carousel h4 {
        font-weight: 250;
        margin-left: 10px;
        font-size: 1.4rem !important;
    }
}


/*FIN carrousel Tarjetas*/

/*Footer*/
footer {
    display: grid;
    background-color: #f1f1f1;
    color: var(--second-c);
    position: relative;
    bottom: 0 !important;
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
}

footer .imgLogo img {
    max-width: 200px;
    margin: 5px 5px 5px 5px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer h6 {
    font-weight: 350;
    font-size: 1.00rem;
    margin: 5px 5px 5px 5px !important;
    color: #2e2e2e;
    text-align: justify;
}

.wrap-footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 15% 15% 15%;
    column-gap: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
}

.logo-element_footer {
    display: flex;
    margin: 2rem 0;
}

.logo-element_footer img {
    max-height: 75px;
}

.element-footer h5 {
    margin: 1rem 0;
}

.text-element-footer li {
    line-height: 2;
}

.rrss-element-footer ul {
    display: flex;
    flex-flow: wrap;
}

.rrss-element-footer img {
    width: 35px;
}

.rrss-element-footer li {
    margin-right: 1rem;
}

.footer-creds {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: #576171;
    font-size: .9rem;
    max-width: 1500px;
    margin: 0 auto;
}

.copy-creds {
    margin-right: 40px;
}

.legal-creds ul {
    display: flex;
    flex-flow: row;
}

.legal-creds ul li {
    padding-right: 40px;

}

.legal-creds ul a {
    color: #576171;
    font-size: .9rem;
}

@media (max-width:1050px) {
    .wrap-footer {
        grid-template-columns: repeat(2, auto);
        flex-wrap: wrap;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width:800px) {
    .wrap-footer {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:600px) {
    .wrap-footer {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        margin: 10px 0px 10px 0px;
    }
}
/*FIN Footer*/

/*CURSOS*/
.contenedor-curso {
    width: 100%;
    display: grid;
    align-items: center !important;
    margin: 40px 0px 60px 0px;
}

.wrap-curso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.descripcion-curso {
    position: relative;
    width: 65%;
    aspect-ratio: 15/9;
    min-width: 450px;
    max-width: 850px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 40px;
    background-image: linear-gradient(to bottom right, #000000, #292929);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(0, 0, 0, 0.514) 0px 2px 16px 0px;
}

.descripcion-curso img {
    position: absolute;
    width: 100%;
    filter: brightness(80%);
}

.banner-curso {
    position: absolute;
    padding: 2%;
    color: #e4e4e4;
    min-height: 130px;
    width: 100%;
    background-image: linear-gradient(to top, #000000, #00000073);
    bottom: 0;
    text-align: justify;
}

.comprar-curso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    height: auto;
    min-height: 250px;
    max-height: 600px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #ffffff, #f5f2f2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(0, 0, 0, 0.514) 0px 2px 16px 0px;
    padding: 20px 10px 20px 10px;
}

.comprar-curso p {
    margin: 0px 0px 5px 0px;
}

.comprar-curso h6 {
    margin: 0px 0px 5px 0px;
}

.comprar-curso .btn-primary {
    width: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.514) 0px 0px 8px !important;
    margin-top: 10px !important;
}

.contenedorcupon .btn-link {
    color: #292929 !important;
    margin: 0px 0px 10px 0px !important;
    padding: 0px 0px 0px 0px !important;
    font-weight: 500 !important;
    font-size: 1.1rem !important;
}

.panel_cupon {
    display: flex;
}

.panel_cupon .btn-primary {
    width: 30% !important;
    height: 35px !important;
    margin: 0px !important;
    padding: 0%;
    box-shadow: none !important;
    bottom: 0 !important;
}

.inputcupon {
    width: 68% !important;
    height: 35px !important;
    margin: 0px !important;
    padding: 0%;
    bottom: 0 !important;
}


.contenedorcupon .alert-danger {
    padding: 2px !important;
    font-size: .9rem !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}

.contenedorcupon .alert-success {
    padding: 2px !important;
    font-size: .9rem !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}

.precio {
    display: flex;
}

.preciodescuento {
    display: flex;
}

.precio h3 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 30px;
}

.preciodescuento h3 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 5px;
}

.preciotachado h3 {
    font-weight: 350;
    font-size: 1.4rem;
    margin: 10px 0px 0px 0px;
    text-decoration: line-through;
}

.preciotachado,
.preciodescuento {
    display: none;
}

#acceder,
#registro:hover {
    cursor: pointer;
}

@media (max-width:600px) {
    .comprar-curso {
        padding: 10px;
    }

    .banner-curso {
        min-height: 100px;
    }

    .banner-curso h4 {
        font-weight: 500;
        font-size: 1.2rem !important;
    }

    .banner-curso,
    .comprar-curso,
    .btn-link p {
        font-weight: 350;
        font-size: 0.9rem !important;
    }

    .comprar-curso p {
        margin: 3px 0px 0px 0px;
    }

    .comprar-curso h6 {
        margin: 5px 0px 0px 0px;
    }

    .comprar-curso h3 {
        font-weight: 350;
        font-size: 2rem !important;
        margin: 5px 0px 0px 0px !important;
    }

    .precio h5 {
        font-size: 1.2rem !important;
        margin: 20px 0px 0px 5px !important;
    }
    .preciotachado h3 {
        font-size: 1.2rem !important;
        margin: 10px 0px 0px 5px !important;
    }
}

@media (max-width:1200px) {
    .comprar-curso {
        flex-direction: row;
        justify-content: space-around;
        display: grid;
        grid-template-columns: 40% 40%;
        width: 100%;
        min-width: 450px;
        max-width: 700px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .descripcion-curso {
        position: relative;
        width: 100%;
        min-width: 450px;
        max-width: 700px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

/*Modificar Perfil*/
.container-b { /*contenedor general*/ /*wrap-perfil*/
    display: flex;
    justify-content: center;
    margin: 10px 5px 60px 5px;
}

.wrap-b {  /*envoltorio general*/ /*perfil*/
    margin: 0px 5px 40px 5px;
    justify-content: center;
    width: 800px;
}

.extended{
    width: 1300px !important;
    max-width: 90%;
}

@media(max-width:1200px){
    .extended{
        max-width: 95% !important;
    }
}

@media(max-width:1000px){
    .extended{
        max-width: 99% !important;
    }
}

.full{
    margin: 10px 0px 10px 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
    width: 100%;
}

.encabezado-b {  /*encabezado-perfil*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    min-width: 100px;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom right, #ffffff, #f5f2f2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(0, 0, 0, 0.514) 0px 2px 16px 0px;
    padding: 10px 10px 10px 20px;
    margin: 30px 0px 20px 0px;
}

.angosto{
    margin: 15px 0px 20px 0px;
}

.encabezado-b .display-6 {
    color: #5A36DB;
    font-weight: 400;
}

.panel-b { /*panel-perfil*/
    text-align: justify;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    min-width: 100px;
    height: auto;
    min-height: 400px;
    border-radius: 0px 0px 10px 10px;
    background-image: linear-gradient(to bottom right, #ffffff, #f5f2f2);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px, rgba(0, 0, 0, 0.514) 0px 2px 16px 0px;
    padding: 20px 10px 20px 10px;
}

.just{
    justify-content:flex-start !important;
}

.panel-b p{
    text-align: justify;
    margin: 10px 25px 10px 25px;
    color:#414141;
    
}

.accordion-body {
    padding-top: 30px !important;
    padding-bottom: 0px !important;
}

.accordion-body .btnSubmit {
    position: relative !important;
    left: 100% !important;
    transform: translate(-100%, -100%) !important;
    margin-top: 50px !important;
    margin-bottom: 0px !important;
}

.btnSubmit {
    background-color: #5A36DB !important;
    border-radius: 0px !important;
    border: none !important;
}

.btnSubmit:hover {
    background-color: #7e3ffd !important;
}

.btnCancel {
    background-color: #949494 !important;
    border-radius: 0px !important;
    border: none !important;
}

.btnCancel:hover {
    background-color: #adadad !important;
}

.mi-cuenta-nav .btnSubmit {
    border-radius: 5px 15px !important;
}

.modal-header h1{
    color: #5A36DB !important;
}

.table-dark tr{
    --bs-table-bg:#9686d1 !important;
    --bs-table-bg:#6b43ff !important;

  }
  tbody tr{
    --bs-table-bg:none !important;
  }